* {
  margin: 0 auto;
  
}

.header2{

  width: 970px;
}

.cgv-vanner {
  background-color: black;
  /* position: relative; */
  /* border: 0px;   */
  /* width: 970px; */
  height: 80px;
  /* text-align: center; */
  text-align: center;
  display: flex;
}

.cgv-vanner-img{
  /* border: 2px solid pink; */
  /* width: 970px;
  height: 80px; */
  /* text-align: center; */
  /* margin: auto; */
  z-index: 1;

}

.cgv-vanner-close{
  /* border: 1px solid pink; */
 /* position: absolute;
  margin-top: 10px; 
  margin-right: 20px; */

  cursor: pointer;
  z-index: 10;
  /* text-align: center;
  margin: auto; */

  position: absolute;
  top: 10px;
  right: 10px;

}

#div-vanner-container1{
  border: 1px solid black;

  /* transform: scale(1); */

}

.div-header-contents{
  align-items: center;


}

nav {
  height: 110px;
  background-color: steelblue;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  /* border: 1px solid white; */
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
}


