* {
  margin: 0;
  padding: 0;
  /* margin: 0 auto; */
}

.cgv-vanner {
  background-color: black;
  /* position: relative; */
  /* border: 0px;   */
  /* width: 980px; */
  /* margin: 0 auto; *
  height: 80px;
  text-align: center;
  /* display: flex; */
}

.cgv-vanner-size {
  border: 2px solid red;
  width: 980px;
  height: 80px;
  margin: 0 auto;
  /* 두개의 요소가 가로로 정렬 */
  display: flex;
  text-align: center;
}

.cgv-vanner-img {
  width: 100%;
  z-index: 1;

}

.cgv-vanner-close {
  border: 1px solid pink;
  cursor: pointer;
  z-index: 2;

  transform: translate(-30px, 10px);

}

#div-vanner-container1 {
  border: 1px solid black;

  /* transform: scale(1); */

}

.div-header-logo-img {
  border: 1px solid black;
  width: 117px;
  /* height: 100%; */
}

.div-header-container {
  border: 1px solid pink;
  width: 980px;
  height: 65px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 5px;
  /* justify-content: space-between; */
  /* padding: auto; */

}

.div-header-area {
  /* border: 1px solid blue; */
  /* background-color: red; */
  border-bottom: 1px solid grey;


}

.div-logoandtext {
  display: flex;
  float: left;
}

.div-header-text {
  border: 1px solid black;
  height: 53px;
  font-size: 18px;
  line-height: 80px;
}

.ul-user-link-menu {
  border: 1px solid black;
  display: flex;


}

.ul-user-link-menu li img {
  width: 50%;
}

.ul-user-link-menu li {
  font-size: 14px;
  display: inline;
  text-align: center;
  list-style: none;

}

.div-adandmenu {
  border: 1px solid blue;
  display: flex;
  float: right;

}

.img-partner-ad {
  width: 136px;
  height: 39px;
  padding-top: 10px;

}

.div-header-content {
  border: 1px solid red;
  margin: 0 auto;
  width: 980px;
  height: 50px;

}

.div-ul-mainmenu {
  display: flex;
  float: left;
}

.ul_mainmenu {
  display: flex;
  float: left;
  padding: 5px 0;
}

.ul_mainmenu li {
  margin: 10px 20px;
  list-style: none;

}

.ul_mainmenu a {
  color: black;
  text-decoration: none;
}

.div-search-area {
  /* background-color: salmon; */
  height: 30px;
  width: 250px;
  /* padding:  36px 0 10px; */
  float: right;
  margin: 10px 0px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.div-search-inputbox {
  display: flex;
  float: right;
  margin: 0 20px;
}

.div-search-inputbox-img {
  border: 1px solid black;
  width: 26px;
  height: 26px;
}







main {
  /* margin: 0px;
  padding: 0px; */
  margin: 0 auto;
  /* max-width: 980px; */
}

.div-main-vediobox {
  border: 1px solid violet;
  width: 100%;
  height: 500px;
  background-color: black;
}

.div-main-box {
  max-width: 980px;
  margin: 0 auto;
  /* display:flex; */
}

.div-main-vediobox-vedio {
  border: 1px solid sienna;
  background-color: aquamarine;
  width: 980px;
  height: 500px;
  /* display: flex; */
  /* align-items: center */
}

.div-main-vediobox-container {
  border: 1px solid black;
  background-color: aqua;
  width: 200px;
  height: 150px;

  float: left;
  transform: translate(5px, 170px);

}

.div-main-vediobox-contents {
  background-color: antiquewhite;
  display: flex;
  float: left;
  transform: translate(-195px, 310px);

}

.div-main-vediobox-contents div {
  margin-right: 10px;
}

.div-main-vediobox-text {
  text-decoration: none;
}

.div-main-vediobox-text strong {
  font-size: 40px;

}

.div-main-vediobox-text-p {
  margin: 20px;
  transform: translate(-15px, -10px);
  line-height: 30px;
  font-size: 18px;
}











.div-main-moviechart-area {
  background-color: crimson;
  margin: 0 auto;
  width: 980px;
  height: 462px;
}











.div-main-event {
  background-color: blue;
  margin: 0 auto;
  padding-top: 60px;
  width: 980px;
  height: 330px;
}









.div-main-special {
  background-color: cyan;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 21px;
  width: 980px;
  height: 320px;

}










.div-main-product {
  background-color: darkseagreen;
  margin: 0 auto;
  padding-top: 60px;
  width: 980px;
  height: 375px;

}








.div-main-notice {
  background-color: blanchedalmond;
  margin: 0 auto;
  padding: 30px 0 120px;
  width: 980px;
  height: 236px;
}

.div-main-notice-contents {
  /* border: 1px solid black; */
  display: flex;

}

.div-main-notice-box1_box2area{
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  width: 800px;
  height: 240px;

}

.div-main-notice-box1area {
  border: 1px solid royalblue;
  /* background-color: blue; */
  width:510px;
}


.div-text-box1 {
  margin: 20px 20px;
  display: flex;
  
}

.div-text-box1-more {
  border: 1px solid gray;
  border-radius: 11px;
}

.div-text-box2 {
  margin: 20px 20px;
  display: flex;
  /* margin-inline-start: -12px; */
}

.div-text-box2 li{
  text-decoration: none;
  list-style: none;

}

.div-text-box3{
  display: flex;
  margin: 20px 20px;
}

.div-main-qr-text {
  border: 1px solid black;
  width: 220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.div-main-qr-img{
  width: 60px;
  height: 60px;
}

.div-main-qr-text p{
  font-size: 10px;

}
.div-main-notice-imgbox{
  border: 1px solid black;
  float: right;
  overflow: hidden;
  /* position: relative; */
  width: 211px;
  height: 238px;
  border-radius: 10px;

}

.div-main-notice-imgbox img{
  width: 211px;
  height: 238px;
}











.div-footer-container {
  border: 1px solid black;
  width: 980px;
  height: 445px;
  margin: 0 auto;

}

.div-footer-body {
  border: 1px solid yellow;
  height: 240px;
}


.div-footer-nav-box {
  border: 1px solid black;
  /* width: 100%; */
  height: 66px;
  /* font-size: 13px; */
  display: flex;
  /* justify-content: space-between; */
  /* margin: 20px 0; */

}

.div-footer-nav-box ul {
  border: 1px solid black;
  width: 100%;
  list-style: none;
  display: flex;
  padding-inline-start: 0px;


}

.div-footer-nav-box ul li {
  /* padding-left: 10px; */
  border: 1px solid pink;
  margin: 20px auto;
}

.div-footer-nav-box ul li a {
  text-decoration: none;
  font-size: 13px;
  color: black;

  /* display: inline; */

  /* line-height: 10px; */
}

.text-underline {
  text-decoration: underline;
}

.div-footer-bgc {
  background-color: gainsboro;
  height: 446px;
  width: 100%;
}

.div-footer-info {
  border: 1px solid black;
  height: 126px;

  margin-bottom: 0;

  /* display: flex; */
  /* justify-content : space-between; */
}

.div-footer-info-textbox {
  border: 1px solid black;
  font-size: 13px;
  float: left;
  margin: 25px 0px;


}

.div-footer-info-selectbox {
  border: 1px solid black;
  float: right;
  display: flex;
  margin-top: 60px;
  margin-right: 10px;
}

.div-footer-info-selectbox select {
  height: 34px;
  width: 177px;
}

.div-footer-info-selectbox-go {
  background-color: gray;
  height: 34px;
  width: 36px;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
}

.div-footer-info-selectbox-go a {
  color: white;
  line-height: 30px;
  text-decoration: none;
  /* text-align: center; */
}

.footer-select-option {
  display: none;
}