* {
  margin: 0;
  /* padding: 0; */
  /* margin: 0 auto; */
}

a {
  text-decoration: none;
}

.cgv-vanner {
  background-color: black;
  /* position: relative; */
  /* border: 0px;   */
  /* width: 980px; */
  /* margin: 0 auto; *
  height: 80px;
  text-align: center;
  /* display: flex; */
}

.cgv-vanner-size {
  border: 2px solid red;
  width: 980px;
  height: 80px;
  margin: 0 auto;
  /* 두개의 요소가 가로로 정렬 */
  display: flex;
  text-align: center;
}

.cgv-vanner-img {
  width: 100%;
  z-index: 1;

}

.cgv-vanner-close {
  border: 1px solid pink;
  width: 26px;
  height: 20px;
  cursor: pointer;
  z-index: 2;

  transform: translate(-30px, 10px);

}

#div-vanner-container1 {
  border: 1px solid black;

  /* transform: scale(1); */

}

.div-header-logo-img {
  border: 1px solid black;
  width: 117px;
  /* height: 100%; */
}

.div-header-container {
  border: 1px solid pink;
  width: 980px;
  height: 65px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 5px;
  /* justify-content: space-between; */
  /* padding: auto; */

}

.div-header-area {
  /* border: 1px solid blue; */
  /* background-color: red; */
  border-bottom: 1px solid grey;


}

.div-logoandtext {
  display: flex;
  float: left;
}

.div-header-text {
  border: 1px solid black;
  height: 53px;
  font-size: 18px;
  line-height: 80px;
}

.ul-user-link-menu {
  border: 1px solid black;
  display: flex;


}

.ul-user-link-menu li img {
  width: 50%;
}

.ul-user-link-menu li {
  font-size: 14px;
  display: inline;
  text-align: center;
  list-style: none;

}

.div-adandmenu {
  border: 1px solid blue;
  display: flex;
  float: right;

}

.img-partner-ad {
  width: 136px;
  height: 39px;
  padding-top: 10px;

}

.div-header-content {
  border: 1px solid red;
  margin: 0 auto;
  width: 980px;
  height: 50px;

}

.div-ul-mainmenu {
  display: flex;
  float: left;
}

.ul_mainmenu {
  display: flex;
  float: left;
  padding: 5px 0;
}

.ul_mainmenu li {
  margin: 10px 20px;
  list-style: none;

}

.ul_mainmenu a {
  color: black;
  text-decoration: none;
}

.div-search-area {
  /* background-color: salmon; */
  height: 30px;
  width: 250px;
  /* padding:  36px 0 10px; */
  float: right;
  margin: 10px 0px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.div-search-inputbox {
  display: flex;
  float: right;
  margin: 0 20px;
}

.div-search-inputbox-img {
  border: 1px solid black;
  width: 26px;
  height: 26px;
}







main {
  /* margin: 0px;
  padding: 0px; */
  margin: 0 auto;
  /* max-width: 980px; */
}

.div-main-vediobox {
  border: 1px solid violet;
  width: 100%;
  height: 500px;
  background-color: black;
}

.div-main-vedio {
  position: relative;
  width: 980px;
  top: 2px;

  /* z-index: 1; */
}

.div-main-box {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
}

.div-main-vediobox-vedio {
  position: relative;
  /* border: 1px solid sienna; */
  background-color: aquamarine;
  width: 980px;
  height: 500px;
  z-index: 2;
  /* display: flex; */
  /* align-items: center */
}

.div-main-vediobox-container {
  position: relative;
  /* border: 1px solid black; */
  background-color: darkblue;
  color: white;
  width: 200px;
  height: 120px;
  z-index: 3;

  /* float: left; */
  transform: translate(5px, -330px);

}

.div-main-vediobox-contents {
  position: relative;
  background-color: darkgrey;
  color: white;
  display: flex;
  width: 300px;
  height: 30px;
  /* float: left; */
  transform: translate(5px, -310px);
  z-index: 4;

}

.div-main-vediobox-contents div {
  margin-right: 10px;
}

.div-main-vediobox-text {
  text-decoration: none;
}

.div-main-vediobox-text strong {
  font-size: 40px;

}

.div-main-vediobox-text-p {
  margin: 20px;
  transform: translate(-15px, -10px);
  line-height: 30px;
  font-size: 18px;
}











.div-main-moviechart-area {
  background-color: crimson;
  margin: 0 auto;

  width: 980px;
  height: 462px;
}

.div-main-moivechart-title {
  border: 1px solid black;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.div-main-moivechart-title-boxes {
  /* border: 1px solid black; */
  display: flex;
  font-size: 23px;
  /* padding-bottom: -20px; */

}

.div-main-moivechart-title-box1 {
  border-right: 1px solid black;
  width: 120px;
  /* height: 20px; */
  /* margin: 0 10px; */
  text-align: center;
}

.div-main-moivechart-title-box2 {
  /* border: 1px solid black; */
  width: 120px;
  height: 30px;
  margin-left: 10px;
  text-align: center;
}





.div-main-moviechart-boxtext {
  border: 1px solid gray;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  align-content: center;
}

.div-main-moviechart-arrow-img {
  height: 16px;
  width: 12px;
  text-align: center;
}

.div-main-moviechart-arrow-box {
  /* border: 1px solid black; */
  width: 980px;
  /* height: 10px; */
  transform: translate(-15px, -200px);
}


.div-main-moviechart-arrow-img-left {
  border: 1px solid black;
  background-color: azure;
  float: left;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.div-main-moviechart-arrow-img-left-rotate {
  transform: rotate(180deg);
  position: relative;
  top: 9px;
  width: 10px;
  height: 15px;
  z-index: 99;
}

.div-main-moviechart-arrow-img-rigth-rotate {
  /* transform: rotate(180deg); */
  position: relative;
  top: 9px;
  width: 10px;
  height: 15px;
  z-index: 99;
}

.div-main-moviechart-arrow-img-right {
  border: 1px solid black;
  background-color: azure;
  border-radius: 20px;
  transform: translate(30px, 0px);
  float: right;
  height: 40px;
  width: 40px;
  text-align: center;
}

.div-main-moviechart-age{
  float: right;

}

.div-main-moviechart-date{
  float: right;

}

.div-main-moviechart-button1{
  justify-content: center;
}

.div-main-moviechart-button2{
  justify-content: center;

}

.div-main-moviechart-rank{
  float: left;
}

.div-main-moviechart-menu{
  display: flex;
}

.div-main-moviechart-menubox {
  /* border: 1px solid black; */
  /* transform: translate(-30px , 0px); */
  /* left: 10px; */
  margin-top: 10px;
  margin-right: 31px;
  width: 170px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.div-main-moviechart-img{
  width: 170px;
  height: 250px;
  z-index: 1;
}

.div-main-moviechart-border-img{
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  width: 170px;
  height: 250px;
}

.div-main-moviechart-menu-textbox-top{
  border: 1px solid pink;
  margin: 5px 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  
}

.div-main-moviechart-menu-textbox-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.div-main-moivechart-menu-textbox-bottom-left{
  width: 57px;
  height: 17px;
  text-align: center;
  border: 1px solid black;
}

.div-main-moivechart-menu-textbox-bottom-right{
  border: 1px solid black;
  width: 108px;
  height: 17px;
  text-align: center;
}























.div-main-event {
  background-color: blue;
  margin: 0 auto;
  padding: 60px 0 6px;
  width: 980px;
  height: 330px;
}

.div-main-event-title {
  display: flex;
  justify-content: space-between;
}

.div-main-event-title-more {
  display: flex;

}

.div-main-play-img {
  position: relative;
  top: 5px;
  height: 18px;
  width: 14px;

}

.div-main-play-box {
  border: 1px solid gray;
  text-align: center;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.div-main-event-boxtext {
  border: 1px solid gray;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  align-content: center;
}

.div-main-event-arrow-img {
  height: 16px;
  width: 12px;
  text-align: center;
}

.div-main-event-arrow-box {
  width: 980px;
  height: 30px;
  transform: translate(-15px, 120px);
}


.div-main-event-arrow-img-left {
  border: 1px solid black;
  background-color: azure;
  float: left;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  z-index: 2;
}

.div-main-event-arrow-img-left-rotate {
  transform: rotate(180deg);
  position: relative;
  top: 9px;
  width: 10px;
  height: 15px;
}

.div-main-event-arrow-img-rigth-rotate {
  /* transform: rotate(180deg); */
  position: relative;
  top: 9px;
  width: 10px;
  height: 15px;
}

.div-main-event-arrow-img-right {
  border: 1px solid black;
  background-color: azure;
  border-radius: 20px;
  transform: translate(30px, 0px);
  float: right;
  height: 40px;
  width: 40px;
  text-align: center;
  z-index: 2;
}

.div-main-event-area {
  display: flex;
  flex-direction: column;

}

.div-main-contents {
  display: flex;
  /* margin-left: -30px; */
}

.div-main-contents-boxs {
  /* margin-left: -25px; */
  margin-right: 25px;
  line-height: 25px;
}

.div-main-contents-textbox {
  margin-top: 10px;

}

.div-main-contents-box-border {
  overflow: hidden;
  width: 310px;
  height: 207px;
  border-radius: 10px;
}

.div-main-contents-img {
  width: 310px;
}













.div-main-special {
  background-color: cyan;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 21px;
  width: 980px;
  height: 320px;

}

.div-main-special-topbox {
  /* padding-top: 70px; */
  display: flex;
  justify-content: space-between;
}

.div-main-special-boxtext {
  border: 1px solid gray;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  align-content: center;
}

.div-main-special-arrow-img {
  height: 16px;
  width: 12px;
  text-align: center;
}

.div-main-special-box {
  display: flex;
}

.div-main-special-box-screen {
  /* border: 1px solid black; */
  padding-top: 30px;
  width: 60%;
  /* height: 280px; */
}

.div-main-special-box-screen-img {
  border: 3px solid gray;
  border-radius: 15px;
  width: 100%;

}

.div-main-special-box-menubar-area {
  padding-top: 30px;
  padding-left: 40px;
  /* border: 1px solid black; */
  width: 50%;
  height: 300px;
}

.div-main-special-box-menubar {
  /* border: 1px solid pink; */
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  margin: 0px 30px;
  height: 65px;

}







.div-main-product {
  /* background-color: darkseagreen; */
  margin: 0 auto;
  padding-top: 30px;
  /* padding-bottom: 20px; */
  width: 980px;
  height: 375px;
  display: flex;
  justify-content: space-between;

}

.div-main-product-box1 {
  width: 270px;
  padding: 20px 19px 20px;
  /* border: 1px solid black; */
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 0px;


}

.div-main-product-box1-1-flex {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-main-product-box1-1-flex-more {
  border: 1px solid gray;
  text-align: center;
  font-size: 13px;
  width: 60px;
  border-radius: 10px;

}

.div-main-product-box1-2-flex {
  display: flex;
  margin: 0px -10px;
  align-items: center;
}

.div-main-product-box1-3-flex {
  display: flex;
  margin: 0px -10px;
  align-items: center;
}

.div-main-product-box1-4-flex {
  display: flex;
  margin: 0px -10px;
  align-items: center;
}

.div-main-product-box1-img {
  height: 76px;
  margin: 10px;
}

.div-main-product-box1-img1-1 {
  width: 60px;
  height: 76px;
  margin: 10px;

}





.div-main-notice {
  /* background-color: blanchedalmond; */
  margin: 0 auto;
  padding: 40px 0 120px;
  width: 980px;
  height: 236px;
}

.div-main-notice-contents {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;

}

.div-main-notice-box1_box2area {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  width: 730px;
  height: 240px;

}

.div-main-notice-box1area {
  /* border: 1px solid royalblue; */
  /* background-color: blue; */
  width: 510px;
  display: block;
  justify-content: center;
}


.div-text-box1 {
  margin: 30px 20px;
  display: flex;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-inline-start: 0px; */

}

.div-text-box1 a {
  font-size: 13px;
  /* color: black; */
  text-decoration: none;
  list-style: none;
  margin-inline-start: 40px;
}

.div-text-box1-more {
  border: 1px solid gray;
  width: 60px;
  border-radius: 10px;
  margin-inline-start: 40px;
  font-size: 12px;

}

.div-text-box2 {
  margin: 30px 20px;
  display: flex;
  /* margin-inline-start: -12px; */
}

.div-text-box2 li {
  text-decoration: none;
  list-style: none;

}

.div-text-box3 {
  /* border: 1px solid black; */
  display: flex;
  margin: 30px 30px;
  width: 280px;
  text-align: center;
  justify-content: space-between;
}

.div-text-box3-div1 {
  margin-top: 20px;
  border: 1px solid black;
  background-color: ghostwhite;
  border-radius: 10px;
  height: 30px;
  width: 15%;
}

.div-text-box3-div2 {
  margin-top: 20px;
  border: 1px solid black;
  background-color: ghostwhite;
  border-radius: 10px;
  height: 30px;
  width: 30%;
}

.div-text-box3-div3 {
  margin-top: 20px;
  border: 1px solid black;
  background-color: ghostwhite;
  border-radius: 10px;
  height: 30px;
  width: 45%;
}

.div-main-qr-text {
  /* border: 1px solid black; */
  border-left: 1px solid gray;
  width: 220px;
  height: 240px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* vertical-align: middle; */


}

.div-main-qr-img {
  width: 60px;
  height: 60px;
}

.div-main-qr-text p {
  font-size: 10px;
}

.div-main-qr-text-tilte {
  line-height: -100xp;
}




.div-main-notice-imgbox {
  /* border: 1px solid black; */
  float: right;
  overflow: hidden;
  /* position: relative; */
  width: 211px;
  height: 238px;
  border-radius: 10px;

}

.div-main-notice-imgbox img {
  width: 211px;
  height: 238px;
}











.div-footer-container {
  /* border: 1px solid black; */
  width: 980px;
  height: 445px;
  margin: 0 auto;

}

.div-footer-body {
  /* border: 1px solid yellow; */
  height: 240px;
}


.div-footer-nav-box {
  /* border: 1px solid black; */
  /* width: 100%; */
  height: 66px;
  /* font-size: 13px; */
  display: flex;
  /* justify-content: space-between; */
  /* margin: 20px 0; */

}

.div-footer-nav-box ul {
  /* border: 1px solid black; */
  width: 100%;
  list-style: none;
  display: flex;
  padding-inline-start: 0px;


}

.div-footer-nav-box ul li {
  /* padding-left: 10px; */
  /* border: 1px solid pink; */
  margin: 20px auto;
}

.div-footer-nav-box ul li a {
  text-decoration: none;
  font-size: 13px;
  color: black;

  /* display: inline; */

  /* line-height: 10px; */
}

.text-underline {
  text-decoration: underline;
}

.div-footer-bgc {
  background-color: gainsboro;
  height: 446px;
  width: 100%;
}

.div-footer-info {
  border-top: 1px solid gray;
  /* border: 1px solid black; */
  height: 126px;

  margin-bottom: 0;

  /* display: flex; */
  /* justify-content : space-between; */
}

.div-footer-info-textbox {
  /* border: 1px solid black; */
  font-size: 13px;
  float: left;
  margin: 25px 0px;


}

.div-footer-info-selectbox {
  border: 1px solid black;
  float: right;
  display: flex;
  margin-top: 60px;
  margin-right: 10px;
}

.div-footer-info-selectbox select {
  height: 34px;
  width: 177px;
}

.div-footer-info-selectbox-go {
  background-color: gray;
  height: 34px;
  width: 36px;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
}

.div-footer-info-selectbox-go a {
  color: white;
  line-height: 30px;
  text-decoration: none;
  /* text-align: center; */
}

.footer-select-option {
  display: none;
}